{% extends 'base.html.twig' %}

{% block body %}
    <body>
    {% block menu %}
    {% endblock %}
    <div class="overlay"></div>
    <main class="main-wrapper">
        <header class="header header-admin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <a href="{{ path('site_home') }}">Strona główna</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        {% include '_footer.html.twig' %}
    </main>
    </body>
{% endblock %}